html {
  font-size: 20px; /* px means "pixels": the base font size is now 10 pixels high  */
  font-family: 'Open Sans Condensed', sans-serif;
}
h1 {
  font-size: 60px;
  text-align: center;
}

p, li {
  font-size: 20px;    
  line-height: 1;
  letter-spacing: 1px;
}
html {
  background-color: 4C1919;
}
body {
  width: 600px;
  margin: 0 auto;
  background-color: 4C1919;
  padding: 0 70px 70px 70px;
  border: 3px solid black;
}
img {
  display: block;
  margin: 0 auto;
}
img {
	width: 500px;
}